.product-page {
    text-align: center;
    padding: 2rem;
    color: rgb(248, 248, 248);
    font-family: 'Cookie', cursive;
    font-size: 1.6rem;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.product-video {
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    display: block;
}
.product-page h1 {
    background: linear-gradient(to right, rgb(0, 0, 2), rgb(16, 45, 162));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product-image {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 3);
}